@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --color-a-dark:#2F9089;
    --color-a-light: #e1f5f3;
    --color-a-light-2: #F2FAF9;
    --color-b:#7854F7;
    --color-white-a: #fff;
    --color-white-2: #F6F6F6;
    --color-black-a: #111111;
    --color-para-dark:#414747;
    --color-para-light:#403B43;
    --color-orange:#E6840E;
}

::-webkit-scrollbar-track {
    background: #c8cdcd;
  }

::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-a-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-black-a);;
}
/* ==========================
CSS Reset
========================== */
*{
  margin: 0;  
  padding: 0;  
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Inter", sans-serif;
}
/* ==========================
Colors and Variable
========================== */
.color-a-dark,.hover-color-a-dark:hover{
    color: var(--color-a-dark);
}
.color-a-light,.hover-color-a-light:hover{
    color: var(--color-a-light);
}
.color-b,.hover-color-b:hover{
    color: var(--color-b);
}
.color-white-a,.hover-color-white-a:hover{
    color: var(--color-white-a);
}
.color-black-a,.hover-color-black-a:hover{
    color: var(--color-black-a);
}
.color-para-dark,.hover-color-para-dark:hover{
    color: var(--color-para-dark);
}
.color-para-light,.hover-color-para-light:hover{
    color: var(--color-para-light);
}
.color-orange,.hover-color-orange:hover{
    color: var(--color-orange);
}

.bg-a-dark, .hover-bg-a-dark:hover{
    background: var(--color-a-dark);
}
.bg-a-light, .hover-bg-a-light:hover{
    background: var(--color-a-light);
}
.bg-a-light-2, .hover-bg-a-light-2:hover{
    background: var(--color-a-light-2);
}
.bg-white-a, .hover-bg-white-a:hover{
    background: var(--color-white-a);
}
.bg-white-2, .hover-bg-white-2:hover{
    background: var(--color-white-2);
}
.bg-black-a, .hover-bg-black-a:hover{
    background: var(--color-black-a);
}


.border-color-black,.hover-border-color-black:hover{
    border-color: var(--color-black-a);
}
.border-a-dark,.hover-border-a-dark:hover{
    border-color: var(--color-a-dark);
}

.hr-divider{
    margin: 32px 0px;
    color: rgb(64, 59, 67,20%);
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-button-sm{
    width: 40px;
    border: 1px solid rgb(64, 59, 67,10%);
}

/* ==========================
Reusable Elements
========================== */
.button-simple{
    font-weight: 600;
    border: 1px solid;
    display: inline-block;
    text-align: center;
    transition: .3s ease;
    padding: 16px 0px;
    cursor: pointer;
}
.button{
    font-weight: 600;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    transition: .3s ease;
    position: relative;
    padding-left: 16px;
    padding-right: 32px;
}
.button span {
    padding: 0px 5px;
}
.button-sm{
    height: 40px;
}
.button-xs{
    height: 30px;
}
.button:hover {
    padding-left: 32px;
    padding-right: 16px;
}
.button-sm-x{
    padding-left: 10px;
    padding-right: 20px;
}
.button-sm-x:hover{
    padding-left: 20px;
    padding-right: 10px;
}
.button-md{
    height: 50px;
}
.button-lg{
    height: 60px;
}

.button-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease;
}
.button-left-icon{
    left: 0px;
    opacity: 0;
}
.button-right-icon{
    right: 16px;
}

.button:hover .button-left-icon{
    left: 16px;
    opacity: 1;
}
.button:hover .button-right-icon{
    right: 0px;
    opacity: 0;
}

.button-sm-x:hover .button-left-icon{
    left: 10px;
}
.button-sm-x .button-right-icon{
    right: 10px;
}


.button-black{
    background: var(--color-black-a);
    color: var(--color-white-a);
}

.button-black-tran{
    background: transparent;
    color: var(--color-black-a);
}

.ease-tran{
    transition: .3s ease;
}
.cursor-pointer{
    cursor: pointer;
}
.sec-title{
    font-size: 56px;
}
.z-1{
    z-index: 1;
}
.z-m-1{
    z-index: -1;
}
.op-p-6{
    opacity: .6;
}
.op-p-8{
    opacity: .8;
}
.op-p-75{
    opacity: .75;
}

.shadow-main{
    box-shadow: 6px 6px 30px 0px rgba(37, 37, 48, 15%);
}
.badge{
    padding: 8px 10px;
}
.border-main{
    border: 1px solid rgba(65, 71, 71,10%);
}
.bb-1{
    border-bottom: 1px solid rgba(65, 71, 71,10%);
}
.slider-container{
    width: 1340px;
    margin: auto;
}
.para-w-618{
    width: 618px;
}


/* ==========================
Custom Specing and Font Sizes
========================== */
.py-120{
    padding: 120px 0px;
}
.pt-120{
    padding-top: 120px;
}
.pb-120{
    padding-bottom: 120px;
}
.pb-100{
    padding-bottom: 100px;
}
.py-60{
    padding: 60px 0px;
}
.pt-60{
    padding-top: 60px;
}
.py-20{
    padding: 20px 0px;
}
.pt-90{
    padding-top: 90px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.p-24-20{
    padding: 24px 20px;
}
.px-160{
    padding-left: 160px;
    padding-right: 160px;
}
.p-20{
    padding: 20px;
}
.p-24{
    padding: 24px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
/* Margins */
.mt-90{
    margin-top: 90px;
}
.mt-25{
    margin-top: 25px;
}
.mb-25{
    margin-bottom: 25px;
}
.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}
/* Fonts */
.fs-5{
    font-size: 18px !important;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-15{
    font-size: 15px;
}
.font-17{
    font-size: 17px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-23{
    font-size: 23.5px;
}
.font-30{
    font-size: 30px;
}
.font-48{
    font-size: 48px;
}
.font-56{
    font-size: 56px;
}
.font-64{
    font-size: 64px;
}
.text-sring{
    letter-spacing: -.4px;
}
.text-sring-lg{
    letter-spacing: -1px;
}
.gap-y-24{
    row-gap: 25px;
}
.gap-x-24{
    column-gap: 24px;
}

.white-image{
    filter: brightness(0) invert(1);
}

.vr-line{
    position: absolute;
    width: 2px;
    height: 100%;
    content: '';
    background: rgba(64, 59, 67,10%);
    left: 50%;
    top:0;
    transform: translateX(-50%);
}

/* ==========================
Header Section
========================== */
.header{
    /* position: sticky;
    top: 0;
    background: var(--color-white-a);
    z-index: 999999; */
    border-bottom: 1px solid #252530;
    box-shadow: 6px 6px 15px 0px rgba(37, 37, 48, 10%);
}
.custom-nav .nav-item:not(:last-child){
    margin-right: 32px;
}
.custom-nav{
    width: 50%;
}
.logo, .nav-buttons{
    /* background: red; */
    width: 25%;
}

/* ==========================
Banner Section
========================== */
.banner-overly-image{
    scale: 1.1;
    top: 32px;
}
.section-before-bg{
    position: relative;
    z-index: 1;
}
.section-before-bg::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 85%;
    top: 0;
}
.section-before-bg-small::before{
    height: 420px;
}
.banner::before{
    background: url('../img/banner-bg.png') bottom / cover no-repeat ,var(--color-a-light);
}
input{
    box-shadow: 6px 6px 30px 0px rgba(37, 37, 48, 15%);
}
input:focus{
   outline: 1px solid var(--color-a-dark);
}

.banner-review-category {
    background: #CFE7E4;
    border-bottom: 0px;
    display: inline-flex;
    border-radius: 100px;
    overflow: hidden;
}
.banner-review-category-button{
    font-weight: 600;
    padding: 16px;
    color: var(--color-black-a);
    border-radius: 0px !important;
    border: 0px !important;
}
.banner-review-category-button:hover{
    color: var(--color-a-dark);
}
.banner-review-category-button.active{
    color: var(--color-white-a) !important;
    background-color: var(--color-black-a) !important;
}
.review-top{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(17, 17, 17,20%);
}
.banner-review-content p {
    font-size: 15px;
}
.banner-review-box{
    margin: 0px 12px;
    box-shadow: 6px 6px 30px -9px rgba(37, 37, 48, 15%);
}
.review-sliders .slick-track{
    padding: 20px 0px;
}

/* =========================
    As Seen On Section
=========================  */
.own-profiles-company-images a img:hover , .image-hover a img:hover{
    filter:contrast(0.5);
}

/* =========================
    Book Section
=========================  */
.booking-cart-box{
    padding: 64px 30px;
}
.agency-partner-section .box {
    border: 1px solid #E0E0E0;
}
.agency-partner-section .box p{
    letter-spacing: -2%;
    font-size: 19px;
}

/* =========================
    About Section
=========================  */
.devider-icon-box{
    width: 100px;
}
.sec-divider-with-icon::before{
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background:#1A504C;
}
.about-section::before{
    background: var(--color-a-dark);
}


/* =========================
    About Section
=========================  */
.featured-box-logo{
    width: 120px;
}
.agency-big-box .company-website-button{
    width: 200px;
}
.normal-icon-img:hover{
    filter: brightness(0);
}

/* =========================
    Featured Agency
=========================  */
.agency-big-box ul li{
    width: 50%;
}
.agency-box-hidden-part{
    overflow: hidden;
    display: none;
}

.agency-box-hidden-part tr td:not(:last-child){
    padding-right:14px
}
.agency-box-hidden-part tr{
    border-bottom: 1px solid rgba(64, 59, 67,10%);
}
.agency-box-hidden-part table thead tr td{
    padding: 10px 0px
}
.agency-box-hidden-part table tbody tr td{
    padding: 14px 0px
}
.agency-box-hidden-part .table-start-gap{
    padding-left: 30px !important;
}
.agency-box-hidden-part .table-end-gap{
    padding-right: 30px !important;
}


/* =========================
    Service Agency
=========================  */
.service-category-buttons .service-category-button{
    padding: 16px;
    text-align: left;
    background: transparent;
    color: var(--color-black-a);
    border: 1px solid rgba(65, 71, 71,10%);
}
.service-category-buttons .service-category-button.active{
    background: var(--color-black-a);
    border-color: var(--color-black-a);
    color: var(--color-white-a);
}

/* =========================
    Review Section
=========================  */
.review-animation-wrapper,.main-review-animation-container {
    width: fit-content;
}
.review-user-image{
    width: 56px;
    height: 56px;
}
.single-review-row{
    width: 312px;
}


/* =========================
    Service Agency
=========================  */
.award-section{
    background: url('../img/award-bg.png') center / cover no-repeat , var(--color-a-dark);
}
.saas-software-section .box{
    border: 1px solid #fff;
}
.saas-software-section .box:hover{
    transform: translateY(-5px);
    cursor: pointer;
    border-color: var(--color-a-dark);
}

.news-box:hover,.footer-social li:hover a i{
    transform: translateY(-5px);
}

/* =========================
    FAQ Section
=========================  */
.accordion-item{
    overflow: hidden;
    padding: 0px;
    border: none !important;
    border-radius: 12px !important;
    transition: .3s ease;
}
.accordion-item:not(:last-child){
    margin-bottom: 20px;
}
.accordion-item:focus{
    box-shadow: 6px 6px 30px 0px rgba(37, 37, 48, 15%);
}
.accordion-button{
    padding: 24px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-white-a);
}
.accordion-button:not(.collapsed){
    background-color: var(--color-white-a);
    box-shadow: none;
}
.accordion-body{
    padding-top: 0px;
    padding-right: 50px;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 12px !important;
    
}
.accordion-button::after {
    width: 22px;
    height: 22px;
    background-size:22px;
    background-image: url('../img/icons/plus-circle.svg');
}
.accordion-button:not(.collapsed)::after {
    background-image: url('../img/icons/minus-circle.svg');
}

/* =========================
    Mini Contact
=========================  */
.mini-contact{
    background: url('../img/contact-bg.png') center / cover no-repeat , var(--color-a-dark);
}

.main-footer{
    padding-bottom: 60px;
}
.footer-top{
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(255, 255, 255,15%);
}


.d-block-xl{
    display: none;
}



/* =========================
    Single Page Category CSS
=========================  */
.cetgory-section-tab ul.nav-pills {
    border-bottom: 3px solid rgb(17, 17, 17,10%) ;
}
.single-page-category-tab-btn{
    padding: 16px 24px;
    background-color: transparent !important;
    color: rgba(64, 59, 67,70%) !important;
    position: relative;
}
.single-page-category-tab-btn svg{
    fill:  rgba(64, 59, 67,70%);
}
.single-page-category-tab-btn.active{
    color: var(--color-a-dark) !important;
}
.single-page-category-tab-btn::before{
    width: 100%;
    height: 3px;
    background: transparent;
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: .2s ease;
}
.research-page-tab .single-page-category-tab-btn::before{
    bottom: -2px;
    height: 2px;
}
.single-page-category-tab-btn.active::before, .single-page-category-tab-btn:hover:before{
    background: var(--color-a-dark);
}

.research-page-tab .single-page-category-tab-btn.active:before, .research-page-tab .single-page-category-tab-btn:hover:before{
    background: #7854F7;
}
.research-page-tab .single-page-category-tab-btn{
    color: var(--color-black-a) !important;
}

.single-page-category-tab-btn.active svg{
    fill: var(--color-a-dark);
}

.single-page-category-products .agency-big-box ul li{
    width: 33.33%;
}
.agency-compair{
    border-top: 1px solid rgb(17, 17, 17,10%);
}

/* =========================
    Product Options Left
=========================  */
.product-fillter-options{
    border-right: 1px solid rgb(17, 17, 17,15%);
}
.product-fillter-options input[type=text], .product-fillter-options select{
    border: 1px solid rgb(17, 17, 17,15%);
    height: 50px;
}

.select-wrapper select{
    position: relative;
    appearance: none;
    -webkit-appearance: none;
}
.select-wrapper::before{
    content: "\f107";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    z-index: 1;
    color: var(--color-para-dark);
}


input.no-shadow{
    box-shadow: none !important;
}
.search-fillter-box:not(:last-child){
    margin-bottom: 32px;
}


/* =========================
    Product Options Right
=========================  */
.input-icon-button .input-left-icon{
    left: 20px;
    transform: translateY(-50%);
}
.input-icon-button .input-button{
    right: 4px;
    transform: translateY(-50%);
}
.input-icon-button input{
    height: 56px;
    padding-left: 50px;
}
.input-icon-button input:focus{
   outline: 1px solid var(--color-black-a) ;
}
.input-icon-button .icon-button-md{
    width: 48px;
    height: 48px;
}

/* =========================
    Custom Pagination CSS
=========================  */
.pagination-nav .page-num .page-link,.goto-page-input,.box-48{
    height: 48px;
    width: 48px;
}
.goto-page-input{
    box-shadow: none;
    border: 1px solid rgb(17, 17, 17,10%);
}
.page-item.disabled .page-link{
    background-color: transparent !important;
    color: var(--color-para-dark) !important;
}
.page-item.disabled .page-link svg{
    stroke: var(--color-para-dark);
}
.page-item .page-link{
    font-size: 18px;
    border: 0px !important;
    font-weight: bold;
    color: var(--color-black-a) !important;
    padding: 0px !important;
}
.page-item:first-child .page-link,.page-item:last-child .page-link{
    font-size: 14px;
    outline: 0px !important;
    box-shadow: none;
    background-color: transparent !important;
}

.page-item.active .page-link , .pagination-nav .page-num .page-link:hover{
    background-color: var(--color-a-dark) !important;
    color: var(--color-white-a) !important;
}
.page-item .page-link:hover{
    background-color: transparent !important;
    color: var(--color-a-dark) !important;
}
.page-item .page-link svg{
    stroke: var(--color-black-a)
}
.page-item .page-link:hover svg{
    stroke: var(--color-a-dark);
}


.input-2{
    background: #267771;
    height: 40px
}
.input-2::placeholder{
    color: #fff;

}

.single-add-container{
    height: 180px;
}
.single-add-container:not(:last-child){
    margin-bottom: 16px;
}

.on-white-bg{
    border-top-color: rgba(64, 59, 67,30%);
}
.socai-icon-team li img{
    transition: .3s ease;
}
.socai-icon-team li:hover img{
    transform: translateY(-5px);
}
.image-cover{
    object-fit: cover;
}
.verify-agency-box{
    border: 1px solid #fff;
}
.verify-agency-box:hover{
    box-shadow: none;
   
}
.has-bottom-border li:not(:last-child){
    border-bottom: 1px solid rgba(64, 59, 67,10%);
    padding-bottom: 8px;
}



/* =========================
Agency Rankig Slider
=========================  */
.agency-slider-container{
    height: 400px;
}
.agency-directory-banner::before{
    background: var(--color-a-light);
    height: 64%;
}
.agency-ranking-slider .slick-slide{
    margin-right: 24px;
}
.agency-ranking-slider .slick-track{
    padding: 20px 0px;
}
.agency-ranking-slider .slick-prev {
    left: -35px;
}
.agency-ranking-slider .slick-next {
    right: unset;
    left: 1275px;
}
.agency-methodogoly-tab li{
    width: 20%;
}
.agency-methodogoly-tab li button{
    width: 100%;
}


.agency-methodogoly-tab .single-page-category-tab-btn.active::before, .agency-methodogoly-tab .single-page-category-tab-btn:hover:before {
    background: var(--color-a-dark);
}
.agency-methodogoly-tab .single-page-category-tab-btn.active,.agency-methodogoly-tab .single-page-category-tab-btn:hover {
    color: var(--color-a-dark) !important;
}




/* =========================
Responsive CSS
=========================  */
/* For 1366 */
@media screen and (max-width:1390px){

    .logo{
        width: 15%;
    } 
    .custom-nav{
        width: 65%;
    }
    .nav-buttons{
        width: 30%;
    }

    .desk-mini-d-none,.d-none-2xl{
        display: none;
    }
   
    .contenr-between-2xl{
        justify-content: space-between;
    }
    .font-64 {
        font-size: 60px;
    }
    .banner-review-container .col-lg-8 {
        width: 100%;
    }
    .booking-cart-box {
        padding: 45px 30px;
    }
    .agency-partner-section img{
        object-fit: cover;
        object-position: right;
    }
    .agency-partner-section .box p{
        font-size: 15px;
    }
    .write-review-section .col-lg-4{
        width: 40%;
    }
    
}

@media screen and (max-width:1201px){
    .custom-nav .navbar-nav {
        row-gap: 10px;
        margin-top: 15px;
    }
    .d-none-xl{
        display: none !important;
    }
    .d-block-xl{
        display: block;
    }
    .logo{
        width: 20%;
    } 
    .nav-buttons{
        width: 30%;
    }

    .font-64 {
        font-size: 38px;
    }
    .font-20 ,.fs-5 {
        font-size: 16px !important;
    }
    .banner-review-content p,.font-17 {
        font-size: 14px;
    }
    .font-14{
        font-size: 13px;
    }
    .as-seen-company-profile-section img {
        height: 40px;
    }
    .font-56 {
        font-size: 48px;
    }
    .service-category-buttons .service-category-button {
        font-size: 15px !important;
    }
    
    .banner-review-category-button {
        font-weight: 400;
        padding: 7px 14px;
        font-size: 13px;
    }
    .mt-90{
        margin-top: 50px;
    }
    
    .agency-big-box .p-30 {
        padding: 20px;
    }
    .agency-to-top .agency-box-logo {
        width: 85px;
    }
    .badge {
        font-size: 10px;
    }
    .service-category-container .col-lg-8 {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media screen and (max-width:1100px){
    .booking-cart-box {
        padding: 30px;
    }
    .service-world-section .col-lg-8{
        width: 58.33333333%;
    }
    .service-world-section .col-lg-4,.mini-contact .col-lg-4{
        width: 41.66666667%;
    }
    .footer-box p{
        font-size: 14px;
    }
}
.d-show-sm{
    display: none;
}
@media screen and (max-width:992px){
    .flex-warp-sm{
        flex-wrap: wrap;
    }
    .d-none-sm {
        display: none;
    }

    .py-120{
        padding: 60px 0px;
    }
    .pt-120{
        padding-top: 60px;
    }
    .pb-120{
        padding-bottom: 60px;
    }
    .justify-center-sm{
        justify-content: center !important;
    }
    .gap-12-sm{
        gap: 12px;
    }
    .gap-y-24-sm{
        row-gap: 24px;
    }
    .font-56 {
        font-size: 36px;
    }
    .font-48 {
        font-size: 28px;
    }
    .mt-0-sm{
        margin-top: 0px !important;
    }
    .me-0-sm{
        margin-right: 0px !important;
    }
    .ps-0-sm{
        padding-left: 0px !important;
    }
    .pe-0-sm{
        padding-right: 0px !important;
    }
    .mb-12{
        margin-bottom: 12px;
    }
     
    .service-world-section .col-lg-4, .mini-contact .col-lg-4,.write-review-section .col-lg-4,.service-category-container .col-lg-8 {
        width: 100%;
    }
    .flex-column-reverse-sm{
        flex-direction: column-reverse;
    }
    .flex-colum-sm{
        flex-direction: column;
    }
    .align-start-sm{
        align-items: flex-start !important;
    }
    .text-start-sm{
        text-align: left !important;
    }
    .d-show-sm{
        display: block;
    }
    .banner-review-category{
        background: transparent;
        border-radius: unset;
    }
    .banner-review-category-button {
        background: #CFE7E4;
        border-radius: 30px !important;
    }

    
}

@media screen and (max-width:600px){
    body{
        font-size: 14px;
    }
    .agency-to-top {
        flex-direction: column;
    }
    .agency-big-box .company-website-button{
        justify-content: flex-start !important;
        margin-top: 20px;
    }
    .agency-big-box ul li {
        width: 100%;
    }
    .p-5{
        padding: 30px !important;
    }
    .font-64 {
        font-size: 34px;
    }
    .as-seen-company-profile-section img {
        height: 30px;
    }
    .font-56,.font-48 {
        font-size: 22px;
    }
    .font-20, .fs-5 {
        font-size: 14px !important;
    }
    .overview-box {
        width: 48%;
        border: 1px solid var(--color-white-2);
        padding: 15px;
    }
    .overview-box:last-child {
        width: 100%;
    }
    .flex-warp-xs{
        flex-wrap: wrap;
    }
    .gap-y-20-xs{
        row-gap: 20px;
    }
}